h1 {
    text-align: center;
    position: static;
}
p {
    text-align:center;
    }
ul {
    list-style-type:none;

    padding:0;
    overflow:hidden;
    display: inline-block;
    }
ol {
    list-style-type:none;
    margin:70px;
    padding:0;
    overflow:hidden;
    }
  div.navbar {
	position: absolute;
	top: 25px;
	left: 10px;
  }
ul.navbar{
        display: block;
	background: #202020;
	margin: 7px 0;
	padding: 3px;
	padding-right: 10px;
	text-align: right;
	border: 1px solid;
	border-radius:25px;
	width: 125px;
	text-decoration: none;
	border-left-color: #606060;
	border-top-color: #606060;
	border-right-color: #000000;
	border-bottom-color: #000000;
	font-size: 9pt;
}
ul.navbar li {
    display: inline;
    padding-right: 0px;
    font-weight: bold;
    text-align:center;
    float: left;
}
ul.navbar a:link,a:visited {
    display:block;
    width:150px;
    font-weight:bold;
    color:#000000;
    background-color:#FF6633;
    text-align:center;
    padding:10px;
    text-decoration:none;
    text-transform:uppercase;
    }
ul.navbar a.here{
    background: #FFFF99;
    }
ul.navbar a:hover {
    background: #FFFF99;
    }
body {
    padding-left: 0px;
    font-family: Arial, Helvetica, sans;
    line-height: 1;
    background-color:#FFCC33;
    }
div.main {
    text-align: center;
    color: #000000;
    padding-bottom: 80px;
}
div.main a {
    display:inline;
    text-decoration: none;
    display:block;
    width:150px;
    font-weight: normal;
    color:#000000;
    background-color:#FFCC33;
    text-align:center;
    padding:0px;
    text-transform:none;
}
div.credits{
    display:inline;
    text-decoration: none;
    display:block;
    width: 660px;
    font-weight: normal;
    color:#000000;
    background-color:#6495ED;
    text-align:left;
    padding-left: 300px;
    text-transform:none;
}
form {
  padding: 0px;
  margin: 0 0 20px;
}
table {
  padding: 50px;
  background: #FF7F50
}
#response {
  margin-bottom: 20px;
  text-align: center;
}
#response .success {
  color: #022900;
}
#response .failure {
  color: #dc0000;
}
#footer {
   position:relative;
   text-align: left;
   bottom:0;
   width:100%;
   height:20px;   
   background: transparent;
}
#container {
	width: 70%;
	padding: 10px 10px 30px 10px;
	margin: 0 auto;
	border-radius: 15px;
	background-color: #FFFFFF;
        position: relative;
        text-align: center;
        margin-top: 50;
        
}

#logout{
    
    float: right;
    
}
#submenu {
	position: absolute;
        
	top: 25px;
	left: 10px;
        z-index: 1000;
  }
